<h1>Add a vehicle:</h1>

  <form action="/vehicles" method="post">

    <div class="form-group">
      <label for="make">Vehicle's make:</label>
      <input id="make" name="make" type="text">
      <br>
      <label for="model">Vehicle's model:</label>
      <input id="model" name="model" type="text">
      <br>
      <label for="year">Vehicle's year:</label>
      <input id="year" name="year" type="text">
    </div>

  <button type="submit">Add Vehicle</button>
  </form>
